In [34]:
import pandas as pd
import numpy as np
import seaborn as sb
import scipy
import matplotlib.pyplot as plt 
%matplotlib inline

Загружаем датасет с данными об акциях Apple и посмотрим как он выглядит.

Данные загружены с сайта https://www.alphavantage.co/ с помощью функций:

function=TIME_SERIES_DAILY

symbol=AAPL

outputsize=full

apikey=I3SA9EP8MYTPIZJ3

datatype=csv

In [18]:
APPLE = pd.read_csv('downloads/daily_AAPL.csv')
APPLE.head()

    timestamp    open    high       low   close    volume
0  2020-05-22  315.77  319.23  315.3500  318.89  20450754
1  2020-05-21  318.66  320.89  315.8700  316.85  25672211
2  2020-05-20  316.68  319.52  316.2000  319.23  27876215
3  2020-05-19  315.03  318.52  313.0100  313.14  25432385
4  2020-05-18  313.17  316.50  310.3241  314.96  33843125

Берём только данные за последние 10 лет(timestamp>=2010-05-22)

In [19]:
APPLE = APPLE[APPLE['timestamp']>='2010-05-22']

Аналогично загружаем данные о ценах акций Facebook и Google, берём данные за последние 10 лет

In [25]:
GOOGLE = pd.read_csv('downloads/daily_GOOGL.csv')
FACEBOOK = pd.read_csv('downloads/daily_FB.csv')
GOOGLE = GOOGLE[GOOGLE['timestamp']>='2010-05-22']
FACEBOOK = FACEBOOK[FACEBOOK['timestamp']>='2010-05-22']

In [33]:
FACEBOOK.shape

(2016, 6)

Размер(shape) датасета FACEBOOK меньше, чем APPLE и GOOGLE, так как Facebook вышел на IPO только в 2012 году